## Coding Set 7 Ex.

### Algorithm Workbench question 1

In [1]:
# I am told to create a list with the names 'Einstein', 'Newton', 'Copernicus', and 'Kepler'.
#This one is fairly simple since I just have to assign them all to one variable
people = ['Einstein', 'Newton', 'Copernicus','Kepler']
#now when i use ('people') in a code it will print the list

### Algorithm Workbench question 2

In [2]:
#I am going to add off of the previous code since the instructions say to.. 
#Assume 'names' references a list. Write a for loop that displays each element of the list
#I am going to change the variable assigned name from 'people' to 'names'
names = ['Einstein', 'Newton', 'Copernicus','Kepler']
for person in names:
    print(person)

Einstein
Newton
Copernicus
Kepler

In [3]:
#yay it worked!

### Programming Question 1

In [4]:
#I decided to start over because I got stuck and didn't know where to go from there

In [12]:
#first I'm going to have an open bracket for the daily_amount
daily_sales = []
#next I'm going to define the days of the week
days_of_week = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
#next i am going to create a loop to run the amount for each day 
for amount in days_of_week:
    one_day = int(input())
    #now I'm going to add this daily sale to the initial amount
    daily_sales.append(one_day)
total_sales = sum(daily_sales)
print(f'Total sales amount is {total_sales}')

34
43
43
4
3
45
34
Total sales amount is 206

In [11]:
#I have to make my print statement a float

In [ ]:
#Yay!! It worked